[2013-05-01 07:17] Bertram25 opened #1 "Open sourced graphics conversion issue"
@christopho

This issue is about the WIP on converting the graphics to open sourced files.

I'll add there the precise list of files to redo, along with links to each ones.
This will greatly help me following the whole thing.

Not forgetting our hero: https://github.com/Bertram25/ChildenOfSolarus/issues/4

[2013-05-01 07:21] Bertram25 opened #2 "Original naming of characters an other things..."
@christopho

This issue is about the work toward renaming names, files, and story bits to make them fully original.

For instance, the repository name needs to get an original name:
Is 'Children of Solarus' ok? (I like this one :])

Shall the princess be called Zenna? (Princess Solaritine? See below)

Let's put here the questions that pops up along that WIP.

[2013-05-01 07:26] Bertram25 opened #3 "Open sourced music and sounds"
@christopho

WIP about the conversion of sounds and music to open sourced equivalent,

musics/*
sounds/*.ogg

[2013-05-01 08:09] Bertram25 opened #4 "Hero sprite open source conversion issue"
@christopho

This issue is about converting the hero sprite.

As those files are the most important ones, the ones the player sees all the time, I made a separate issue se we can have an extra care about that part.

Very first thing to set up: One must come with an acceptable concept of base sprite that will be used as a reference for the replacement.

[2013-05-01 08:14] Bertram25 opened #5 "Using dynamic text above the language files wherever possible."
@christopho

According to what I saw here:
- languages/_/images/_.png

Short term goal:
- Add xcf files separating on different layers the button and the text. So we have a common file to rule them all.

Long term goal?
- Would it be possible to separate the text from the Button in the engine?

[2013-05-01 09:24] Bertram25 opened #6 "Project main issue"
@christopho

This issue is about general suff to talk about that doesn't fit elsewhere.

[2013-08-28 08:01] Bertram25 opened #7 "Update the quest data to latest format"
The current quest can be played with solarus 1.0.

Since solarus 1.1 is up and 1.2 isn't that far, I bet, we should update the quest data.
(Would be a good exercise)

Maybe @christopho can tell me what are the files in need of a refresh? ;)

[2014-04-17 04:26] ekureina opened #11 "Create a filter script to aid upgrading scripts to the next Solarus version."
In order to do so, all changes to the script portion should be detailed in the
ChangeLog and consolidated (see 40da099).  This is done for the change from rupees -> gems.  I have added categories for the three other apparent changes (name changes (#8)).  Once the changes are detailed, a filter script can be written, easing the change of scripts to the next Solarus version (it is a pain to do manua

[2014-04-26 00:09] #11 closed, assigned to nobody

[2014-04-27 18:50] ekureina opened #13 "Remove old tileset data files."
Updating the game has created the files:

[code]

These are no longer needed.  We should remove them to reduce the size of the repository.

[2014-04-27 22:39] #13 closed, assigned to nobody

[2014-05-13 09:07] Bertram25 opened #19 "New story and intro"
CC: @christopho @Nate-Devv @oclero

Here is a new story proposal, and intro text, meant to not go too far from the original zsdx on purpose:
This is a story about two brothers, one being light, and the other darkness. With the conclusion that the second brother (the hero) follows his kin (formerly Aghanim) into an oniric realm where he has captured the sacred children to get some ultimate power (n

[2014-05-16 07:50] #7 closed, assigned to nobody

[2014-05-19 09:08] Bertram25 opened #22 "Make the title next ot the logo added programatically"
https://github.com/Bertram25/ChildenOfSolarus/blob/master/data/sprites/menus/title_logo.png
As commented by @christopho here:
https://github.com/Bertram25/ChildenOfSolarus/commit/8b39ed7fde8b7cc6f21926f496cc3d605237a792#commitcomment-6366157

Making the title added by the program would make it possible to translate it and improve it with less burden also.

[2014-05-19 18:57] oclero opened #23 "New logo (vector and pixel-art)"
Make a new logo to replace both versions : the high-res one I made for Mystery Of Solarus (a vector illustration) and the pixel-art one

[2014-06-15 18:09] ekureina opened #24 "Repository name typo"
Name should be ChildrenOfSolarus, not ChildenOfSolarus.

[2014-06-15 23:14] #24 closed, assigned to nobody

[2014-07-03 14:13] #22 closed, assigned to nobody

[2014-07-23 10:56] #23 closed, assigned to oclero

[2015-09-11 06:48] christopho opened #25 "Some free graphics and sounds"
Here are some links to free graphics and sounds gathered by zutokaza here: http://forum.solarus-games.org/index.php/topic,401.15.html
It can probably help.

I found some CC-By 3.0 Sprites we can use in the book.
http://opengameart.org/content/antifareas-rpg-sprite-set-1-enlarged-w-transparent-background-fixed

http://opengameart.org/content/18x20-characters-walkattackcast-spritesheet

CC0 Public d

[2015-09-11 09:18] Bertram25 commented on #25
Arf, that project definitely needs love. ;)

[2015-09-11 13:54] christopho commented on #25
A full collection of othogonal tilesets suggested by zutokaza:
http://opengameart.org/content/best-orthogonal-rectangular-tilesets-for-tilemaps

[2015-09-11 16:22] zutokaza commented on #25
How does this project work? Does it just collect links or will it gather resources in the folders with appropriate credit?

Here are more.

He has lots of music, but from the 16 I checked they are all CC-BY.
http://opengameart.org/users/horrorpen

More free music: CC-By-SA
http://opengameart.org/users/remaxim

Some weapons and Items CC-BY:
http://opengameart.org/content/32x32-icons-flare-compatibl

[2015-09-11 16:30] christopho commented on #25
Anyone can contribute, by replacing sprites, tilesets, musics and sounds by free ones. Credits are given in licence.txt.
Collecting links is a good start, but other issues are tracking the work on converting graphics and sounds.

[2015-09-11 16:58] zutokaza commented on #25
I have AnyVideoConverter (Works with audio too. .ogg, flac, etc) and I can compress the png images with no quality loss using Pngyu. I could help with compression and converting. I am currently scouting for free resources for my game(s) and I always come across tons of music. I have collected over 2 GB in the last 2 days, but I will be revising those for neat credit list organization. I have separ

[2015-09-12 00:07] zutokaza commented on #25
I found a good public domain asset set CC0. The license is in the small archive.
http://www.kenney.nl/assets/roguelike-rpg-pack

[2015-09-12 00:16] zutokaza commented on #25
I found a 2 GB package of free music. it is CC-BY 3.0. The top says royalty free in the title, but it says it is under creative commons at the bottom of the home page. There is no previews and only a torrent that has been updated 22 days ago.
http://www.nosoapradio.us/

[2015-09-12 02:25] zutokaza commented on #25
This site has a lot of free music, but there is a lot of non-commercial use too. It is easy to see what the license is from the icon/image mark.
https://www.freesound.org/browse/tags/sci-fi/

For instance,
This pack is public domain.
http://freesound.org/people/Kastenfrosch/packs/10069/?page=2#sound

Here is another site:
http://soundbible.com/tags-game.html

Another huge pack made by Aaron. CC-BY

[2015-09-12 07:19] zutokaza commented on #25
Christopho.....should I upload and send you a link to the 500 free music files? (1.1 GB)

[2015-09-12 22:27] zutokaza commented on #25
Here is another set of open source CC-BY 3.0  music made by Snabisch. I included all the credit file and converted the original formats to OGG. The original formats are included, but they are quite large.
https://drive.google.com/folderview?id=0B3ogMy4W2CKeSThHblhTN3EteTQ&usp=sharing

[2015-09-13 00:34] zutokaza commented on #25
I have been going through the list for the book and have converted the audio to OGG (Original formats included. Also, compressed the png files with pngyu and the difference is not noticeable, but I have included the original files too. I did not go through all the list, but will mark where I collected from.
https://drive.google.com/folderview?id=0B3ogMy4W2CKeS3RCTWtLVTRNeXc&usp=sharing

I have col

[2015-09-13 02:20] zutokaza commented on #25
Here is more CC-BY 3.0 music I collected a while back. I added the originals and the OGG.
https://drive.google.com/folderview?id=0B3ogMy4W2CKeQklNX1kxSnRHS2c&usp=sharing

Also, here are the hundred links.

http://opengameart.org/content/recolor-all-the-items

http://opengameart.org/art-search-advanced?keys=Tileset&field_art_type_tid%5B%5D=9&field_art_type_tid%5B%5D=10&field_art_type_tid%5B%5D=7273

[2015-09-13 06:09] zutokaza commented on #25
I found a small collection of Public Domain CC0 music. They were already in an open source OGG format. I included the license in the file.
https://drive.google.com/folderview?id=0B3ogMy4W2CKeX2tsN3JrdTZudDQ&usp=sharing

[2015-09-13 06:47] zutokaza commented on #25
Here is HorrorPen's Favorites: (Might want to look through it)
http://opengameart.org/user/1551/favorites

HorrorPen's music is CC-BY 3.0. I have already collected it and will be converting it now.

[2015-09-13 10:14] zutokaza commented on #25
I have been looking through http://untamed.wild-refuge.net/rmxpresources.php?characters.
Most of the characters are legit and I removed 3 that were close to the RPG MAKER XP RTP. I am not sure if there is anymore (Tilesets, etc), but it will be a work in progress for http://untamed.wild-refuge.net/rmxpresources.php?characters.

Here is the link to it. They will be a great addition if the RPG MAKER

[2015-09-14 09:42] zutokaza commented on #25
A bunch of CC-BY-SA 3.0 assets:
http://lpc.opengameart.org/static/lpc-style-guide/assets.html

[2015-09-18 06:10] zutokaza commented on #25
GUI

http://opengameart.org/content/general-gui

http://opengameart.org/content/user-interface

[2015-09-18 19:13] zutokaza commented on #25
12 or so free art packs:
http://www.as3gamegears.com/category/assets/

[2015-09-23 22:41] zutokaza commented on #25
The links above can direct you to more great free tilesets. You can look in the OpenGameArt.org users favourites/favorites and collections because it's easier to find a lot of good free art that way. It's harder with searching keywords for me.

I also have a collection I downloaded and can give a link to that if you want it, but you guys/girls might want to download it yourselves, so I just delete

[2015-09-25 07:18] zutokaza commented on #25
It seems the search tags changed in open game art. I replaced them, but 99% of the links are okay because they are actual URL and not a search result URL.

[2015-10-04 00:48] zutokaza commented on #25
Note:
The majority of stuff in these links here I collected and posted on the forum.

[2015-10-18 16:32] christopho commented on #25
I checked the first two character sprite sheets
(http://opengameart.org/content/antifareas-rpg-sprite-set-1-enlarged-w-transparent-background-fixed and http://opengameart.org/content/18x20-characters-walkattackcast-spritesheet). They look really great, but they are too small (18x20), they don't fit well with the main characters we have.

[2015-10-18 16:40] christopho commented on #25
18x20 characters really don't fit, even with a hero of the size of Zelda A Link to the Past:
![too_small_npc](https://github-cloud.s3.amazonaws.com/assets/411718/10565007/2ee5f36a-75c7-11e5-93e0-0b7ca840a54c.png)
![too_small_npc_2](https://github-cloud.s3.amazonaws.com/assets/411718/10565029/a12c81fa-75c7-11e5-9691-e75adfe273ac.png)

[2015-10-18 16:48] christopho commented on #25
Maybe we could use 18x20 sprites for the hero and all characters of the game?

[2015-10-19 09:23] christopho commented on #4
@Bertram25 any chance you can work on the sword animations? I think this is the main showstopper right now.

[2015-10-20 11:45] zutokaza commented on #25
I sent a private message to you on the forum with a link to the resource collection. I had to remove the post due to strange traffic that could disable my email. It has happened to me with dropbox before.....darn spammers.

[2015-10-21 22:30] Bertram25 commented on #4
@christopho I cannot promise anything atm. But it's duly noted.
Btw, this project needs a true leader. Something I cannot do atm. Is there a developer interested?
I can help with art from time to time. :)

[2015-10-22 07:24] christopho commented on #4
Ok thanks for the reply @Bertram25!
I want to work more on this project, even if I am already working on several games. Because gathering free resources for this one is very useful for the sample quest and to ultimately obtain a free resource pack.
And yes, I am definitely interested if you can find time to make pixel art sometimes because I am not very good at it!

[2015-10-22 08:00] oclero commented on #4
Hi everyone.
For the new version of the Solarus website, I plan to imagine and draw characters who will be GPL (a hero, a princess, an evil guy) to illustrate the website without using Zelda characters. Maybe the sprite could be inspired from my drawings. The hero wil look a lot like an old character I did: http://oclero.deviantart.com/art/Heros-chevauchant-un-cerf-380074615
What do you think ?

[2015-10-22 08:17] christopho commented on #4
He is very nice for sure! I don't know who could make a sprite from it for now.

[2015-12-20 16:01] christopho commented on #3
New musics from @eduardoduenas:
mini_game, game_over and soldiers.

About soldiers, there is a separate file from an intro part that does not loop. The engine does not currently support ogg looping in the middle of the file, so we need two files for now. But this requires to change some code in scripts that use this music.

[2016-01-13 07:47] christopho commented on #3
Another new epic music from @eduardoduenas: overworld!

[2016-01-13 08:39] Bertram25 commented on #3
@christopho Are you able to push to this repository? Or do you want to, so that the music can be added there?

[2016-01-13 08:42] christopho commented on #3
Yes, I pushed everything.

[2016-01-14 08:36] oclero commented on #3
Wow ! Great work !

[2016-01-14 08:45] oclero commented on #3
Just noticing there are some metadata in the .it files which refer to Zelda elements. Example: `neptune_appears.it` has `Release of Ganon` as a title.

[2016-01-14 09:15] christopho commented on #3
@oclero Could you open an issue and if possible, list all musics that have the problem? Thanks

[2016-01-14 10:11] oclero opened #26 "Remove copyrighted metadata in files"
Some files have copyrighted metadata, because just renaming them didn't change metadata. I don't have the full list for the moment, but these files are issued:

 - [ ] **neptune_appears.it:**
  -  Title is "Release of Ganon" (open in VLC to see it)

You can keep on adding files to this issue if you find some.

[2016-01-14 10:19] christopho commented on #26
Actually this music is still the zelda one, it was only renamed. So it is normal that the metadata says Ganon. Sorry I told you to open an issue :P

[2016-01-14 10:19] #26 closed

[2016-01-14 10:19] oclero commented on #3
Here it is : #26

[2016-01-14 10:21] christopho commented on #3
Actually these files are not replaced yet, they are still the zelda ones.

[2016-03-24 10:44] Diarandor commented on #25
As many of you already know, I am working on original graphics for the hero and also lots of sounds. When finished, they could be used to replace them here. (Some of them are already included in the sample quest, but they are still unfinished.)

However, they are not free as in freedom (they are free as in free beer), and they will have the license CC BY-NC-SA 4.0 (which is a non-commercial licens

[2016-03-25 01:24] Nate-Devv commented on #25
Free as in free beer is better than Nintendo owned that could potentially shut the entire project down, at least in my mind.

[2016-04-30 13:37] christopho commented on #3
New musics from @eduardoduenas!
dungeon_finished, sword_fanfare, lunarius, neptune_battle
Thanks!

[2016-04-30 13:53] christopho commented on #3
Added secret.ogg sounds by @eduardoduenas and tons of sounds by Diarandor.

[2016-05-20 02:13] Diarandor commented on #4
Fortunately, this issue will be closed soon, since I am re-licensing all my art into CC-BY-SA, which is free. That includes almost all the hero animations, and the remaining ones (some shields, and variants with different colors of each weapon and tunic) will be finished soon.

[2016-05-20 09:26] Diarandor commented on #4
I was thinking that since the hero I made has red hair and the tunic is big, it will be annoying to use a red tunic (as the third tunic) since there would be too much red.

Maybe an option is to say that the tunics are magic and change also all the colors of the hero, including the hair color (so we would have better color contrasts). Do you agree?

An example of this idea was used for all the 6 h

[2016-05-20 09:41] christopho commented on #4
Or the third tunic can have another color, we don't really care in this particular game.

[2016-05-20 09:42] Diarandor commented on #4
Ok. I will use a different color for the gabardine tunic.

[2016-05-20 09:57] oclero commented on #4
Yes, it is not an obligation to have the same tunic colors as in Zelda games.

[2016-05-20 10:07] Diarandor commented on #4
I think I will make a blue/silver-plated tunic and a yellow/golden tunic. If they do not look good we can change again later.

[2016-05-21 23:35] Diarandor commented on #4
This is the current state of the free hero animations:
https://github.com/Diarandor/repository/issues/12

Everything is CC-BY-SA, and can be found too here:
http://diarandor.deviantart.com

[2016-05-21 23:44] Diarandor commented on #25
All my art is now free as in freedom. All my pixel art is now officially CC-BY-SA, and can be found here:
http://diarandor.deviantart.com

Most of the inventory items are done, and the remaining work can be found here:
https://github.com/Diarandor/repository/issues/58

[2016-05-24 22:56] Zefk commented on #25
That is great news Diarandor! I will check out your works.

[2016-05-24 23:35] Diarandor commented on #25
Hi @Zefk: although all my work is now free and therefore you can do whatever you want (only credit is needed), I would like that my art is not mixed with other authors' art whenever it is possible, because that is bad to give credit properly to each author (especially if someone makes the opposite  and splits an art compilation in several pieces each one belonging to only one author, which means t

[2016-05-25 00:18] Diarandor commented on #2
I will give my opinion:

1) Since we will be using the art of the hero I created (I called him Edgar), would you like to keep the original name I chose? We are not forced to use that name anyway, so it is not necessary. But I would like to use it since I got used to call him Edgar (otherwise maybe we should rename the pixel-art files, because they appear refering to "Edgar" in the filenames). "Edg

[2016-05-25 01:03] Diarandor commented on #2
To replace the triforce, an option is to use the ancient symbol known as "Triskelion" or "Triskele":
https://en.wikipedia.org/wiki/Triskelion
It is similar to a triangle, but since the symbol exists there will be no problem with Nintendo. It consists of a triple spiral and there are several variants of the symbol. It is a Celtic and pre-Celtic symbol. More links here:
https://thecelticjourney.word

[2016-05-25 03:08] MCMic commented on #2
For me Edgar is the character from the game «Legend of Edgar».

[2016-05-25 03:18] Diarandor commented on #2
I never heard of that game before. Well... there is also an Edgar in FFVI. I never said it was a unique name, I said it is a rare name, and I like it.

[2016-05-25 05:58] Renkineko commented on #2
I don't have any opinion about the names, but I like the idea of the triskele and the triple goddess. Or god.

[2016-05-25 06:54] christopho commented on #2
We don't need a replacement for the Triforce, it almost does not appear in ZSDX.

[2016-05-25 07:42] oclero commented on #2
I don't like the idea of changing the title, I spent too much time on creating the logo :-P

[2016-05-25 08:07] christopho commented on #2
I also like "Children of Solarus". It sounds like "Children of Dune" :)

[2016-05-25 09:39] Diarandor commented on #2
Ok, then forget about changing the name of the game. :)

[2016-05-26 20:27] Zefk commented on #25
@Diarandor I will respect your wishes and not mix or merge your graphics with others art, but I might edit or mod some of your work and keep it on separate image files if that it is okay with you. You will always be notified and a copy of the edit will be sent to you.

Congratulations on becoming part of the Solarus Team!

[2016-05-26 23:03] Diarandor commented on #25
Thanks a lot! There is no need to notify or send me your modifications.

I intend to replace all ALTTP graphics, including tilesets. It is gonna take 2 years aproximately, at most. This summer I will work on the NPCs graphics. I will notify of the news from time to time on the forum.

[2016-05-28 18:59] Diarandor commented on #2
I was wrong about Edgar being a rare name. We can still use it or use the one you chose before (Lunarius). Or use both of them, where one of them would be the last name: Edgar Lunarius or Lunarius Edgar.

As for the zoras, I propose to call them fishmen (or something similar).

[2016-05-30 18:11] Zefk commented on #2
Edgar does not have to be completely thrown out. With a simply twist it becomes unique and rare.
**Examples:**
Edzager Lunarius
Edgarger Lunarius
Edgarter Lunarius
Ediarxor Lunarius
Edvoth Lunarius Fargernoth

From reading above....I kinda like the sound of, "Descendants of Solarus." It gives it a more mature and mysterious feel about it.

[2016-05-30 19:31] christopho commented on #2
I like both Children of Solarus and Descendants of Solarus!

[2016-05-30 20:09] oclero commented on #2
Why do you want to change the name of the hero ? The player can set his own name, and does not even need to know the "real" name of the character.

[2016-05-30 21:13] Zefk commented on #2
I think he would still need a name. Link has a name and I always typed that name while playing Zelda. Normally there are names to pick and an option input a name not on the list. At least from the games I have played. Pokemon, Sword of Mana, etc

[2016-05-30 21:15] Diarandor commented on #2
@oclero: Yes, you are right, we should allow the player to choose the name of the character. But still there should be a default name. The name of the hero could be important for us since it may become representative/distinctive of the Solarus community since his graphics will be distributed with the Solarus sample quest. (However I am not the one who corresponds to take that decision, I am just g

[2016-05-31 05:39] Zefk commented on #2
@christopho An idea hit me. Descendants of Solarus could be the sequel to Children of Solarus.

[2016-06-04 06:35] Diarandor opened #27 "Custom jump and sword combination"
I think Christopho agreed that we could use custom jump instead of the built-in one. And why not using the custom sword too? The aim is to allow attacks on the air. Since there may be some things to decide, I opened this issue. I plan to add the code for these items for the next month, if all of you agree. (The sword is already programmed, except for the collision part, which is the important thin

[2016-06-22 09:39] Diarandor commented on #27
In the end, to avoid incompatibilities or breaking puzzles, I will do this only for the sample quest, and maybe for Mercuri's Chest or its free version if it is done someday. So I close this issue.

[2016-06-22 09:39] #27 closed

[2016-07-22 21:12] Diarandor opened #28 "Free pixel art for NPCs"
I think at present there is no issue to talk about the remaining work on sprites of NPCs, so I created this one to keep track of the remaining work. I will be working on this art for a long time, during my free time, until this is finished.

There may be possible changes for some NPCs (and the plot may change a little bit); for instance, we are not forced to use monkey for not allowing to leave ho

[2016-07-24 17:10] christopho commented on #2
Here are a few suggestions for the hero sprite name instead of Edgar, after discussing with Mymy:
Eldran
Eldrick
Edvald
Elyas
Endrall

What do you think? It will be the hero name for the Solarus default quest resource pack.

Here is a small poll: http://www.strawpoll.me/10823217

@Diarandor @Bertram25 @oclero

[2016-07-24 18:10] christopho commented on #2
And a suggestion from Mymy for Zelda:
Princess Solana
To me it is better than Princess Solarina.

[2016-07-24 18:18] Diarandor commented on #2
For the hero, I like both Eldrick and Elyas.

For the princess, I don't like Solarina either, it sounds strange to me; Solana seems better to me. Other options could be: Solange, Solene or Sollemnia. http://www.behindthename.com/name/solange
(Anyway, her name does not need to begin with "Sol" of "Solarus". My previous choice for her name was Robyne, which is another option if you don't dislike it.

[2016-07-24 18:18] Nate-Devv commented on #2
You're right, Princess Solana sounds much more regal.

[2016-07-30 10:53] Diarandor commented on #28
I add here a list for the NPCs I am currently working on. We will have to add them to this project. This list will be updated with more NPCs.
- [x] Witch
- [x] Blacksmith
- [x] Astronomer/wizard that reads your future (instead of woman with broom)
- [ ] Shopkeeper
- [ ] Generic man
- [ ] Generic woman
- [ ] Generic kid

[2016-07-30 11:06] Diarandor opened #29 "Free pixel art for enemies"
I add here a list for the enemies I will be working on that may be added to this project if you agree. The list will be updated from time to time with more types of enemies. Any feedback is welcome (if you have some cool ideas for some enemy, just tell me here and I may create it).
- [x] Chameleon: with teleporting ability and tongue attacks
- [x] Green slime: with jumping ability
- [x] Purple sli

[2016-08-01 23:20] Zefk opened #30 "Bug: Sample Quest - Old hero default after death"
**Bug Report:**
I was playing with the sample quest and made the hero die after setting too much bombs. Diarandor's hero sprite is no longer used after death. The old sample quest default sprite is used instead and that sprite goes invisible during sword usage.

[2016-08-02 05:34] Renkineko commented on #30
Already reported in solarus christopho/solarus#952, it seems a problem with the engine :)

[2016-08-02 06:38] christopho commented on #30
Children of Solarus is not the place to report bugs of the sample quest.
Also, the bug was already reported (and it is a bug of the sample quest, not of the engine)

[2016-08-02 06:38] #30 closed

[2016-08-02 14:23] Zefk commented on #30
Logically, I thought this would be the place to report bugs for the sample quest. Sorry about that. I will make sure to report them to the engine.

[2016-08-02 14:30] christopho commented on #30
No problem. Children of Solarus is a remake project of Zelda Mystery of Solarus DX without Zelda assets, and the sample quest is just a collection of sample maps, sprites, etc. It is true that they both use the same assets.

[2016-10-04 11:15] christopho commented on #4
"@christopho I cannot promise anything atm. But it's duly noted.
Btw, this project needs a true leader. Something I cannot do atm. Is there a developer interested?
I can help with art from time to time. :)"

@Bertram25 Are you still looking for someone to manage the Children of Solarus project? This is becoming a priority for the the team now that Solarus 1.5 is out. We will work a lot on it with

[2016-10-04 15:40] oclero commented on #4
@christopho Why not giving ownership of ChildrenOfSolarus to **solarus-games** organization (https://github.com/solarus-games) ? (just a proposition)

[2016-10-04 15:59] christopho commented on #4
Maybe, I don't know much about organizations :)

[2016-10-04 16:19] oclero commented on #4
It's not really different from a user's github account, Github themselves explain better what you can do: https://github.com/blog/674-introducing-organizations
It is rather trendy nowadays for open-source projects to have their repositories in an organization account. @christopho you are already owner/administrator of the organization.

[2016-10-05 13:07] christopho commented on #4
@oclero @Bertram25 Ok to transfer it to the solarus-games organization then. I will do the same for all our projects as well.

[2016-10-07 21:54] Bertram25 commented on #4
@christopho Yep, I'm dying to see something out of this project so I giving it to you gladly. :)

Have fun!

[2016-10-07 22:01] Diarandor commented on #4
I am now working on the tilesets. Although I am a bit slow, I think I can finish all the tilesets before June 2017, or at least that is my intention. The two overworld tilesets (and maybe some more) may be finished before December.

[2016-10-07 22:52] christopho commented on #4
Thanks @Bertram25! We will do our best!

[2016-10-09 17:15] christopho opened #31 "Import fixes from zsdx"
Check what recent changes from zsdx are not in this project too.

[2016-10-20 17:28] Diarandor opened #32 "Change the origin point for the sprites of Eldran"
When pushing a wall in the down direction (the direction of the hero is 3), there are two pixels of separation between Eldran and the wall. I think it would be better to shift the origin of the sprites one or two pixels to make him closer to the wall. The same has to be done with all his sprites.

EDIT: the same has to be done with all weapon sprites.

[2016-10-20 17:29] Diarandor commented on #32
@christopho: You can assign me to do the issue if you want.

[2016-10-20 18:27] christopho commented on #32
@Diarandor: i just gave you write access to this repository, you can make assignments now.

[2016-10-20 20:10] Diarandor commented on #32
Thanks!

[2016-12-07 04:32] Diarandor opened #33 "Add a "hint" for first diagonal jumper?"
I was thinking that we could add a hint for the first diagonal jumper (you probably already know which one I am refering to), if you like the idea and agree. What do you think about this?

Some players (including myself) have been stuck in this part since this was not completely obvious. The hint could be an animal (maybe a cat) jumping in that jumper when you get close to it; the player should th

[2016-12-07 06:42] Renkineko commented on #33
There is already a hint with the leaves path, but i agree it's not very obvious.

[2016-12-07 07:54] Diarandor commented on #33
I don't know if it will be clear with the grounds of the new tileset (I still have to draw these ground tiles), so it may be a good idea to add the animal hint too, but only if @christopho agrees.

[2016-12-07 08:14] christopho commented on #33
Maybe we will just get rid of this particular puzzle, this diagonal jump was not looking normal at all.

[2017-01-08 07:41] christopho opened #35 "Update scripts to latest zsdx fixes"

[2017-01-10 15:08] christopho commented on #35
Done.

[2017-01-10 15:08] #35 closed

[2017-01-10 22:55] Zefk commented on #25
I found some message boxes in my resource collection. I noticed that this project already has a [dialog box](https://github.com/solarus-games/children-of-solarus/blob/master/data/sprites/hud/dialog_box.png), but maybe someone would like to check them out anyway. I attached the zip with the license. They are CC-BY 3.0 license.

![10_basic_message_boxes_by_Charles_Gabriel.png](https://s28.postimg.or

[2017-01-12 09:34] Diarandor opened #36 "Add powerups items"
Add powerups items for attack and defense, analogous to the "piece of power" and "guardian accorn" of LA. These will appear randomly, with a low probability, after killing certain types of enemies. Their duration will be for limited time and will persist between maps (their effect has to be stopped when the hero is killed and in other similar situations). Also, these could be bought as potions in

[2017-01-12 09:44] Diarandor opened #37 "Create bee enemies and honeycombs"
Create bee enemies and honeycombs. I will make the sprites and code.

The behavior could be the following:

-There will be a small bee flying close to the panal. If the hero is close, the small bee will make a small 8-shaped trajectory, with the "8" shape in the direction of the hero (like real bees that indicate the direction of food/enemies), and then a big bee will go out the honeycomb moving t

[2017-01-13 06:33] Renkineko commented on #36
For the defense, why not simply honey? It helps immunitary defenses IRL and it's easily putable in a bottle x)

[2017-06-21 22:31] Diarandor commented on #32
This is issue is already done (or being done) for the new (remastered) sprites of Eldran.
No need for this issue.

[2017-06-21 22:31] #32 closed

[2017-06-23 03:34] Diarandor opened #39 "Add randomness to enemies with same behavior"
Some enemies that share the same base script are, in essence, the same thing. I am refering mainly to enemies that go towards the hero with a target movement (and maybe others). These enemies usually end up overlapping themselves like if they were the same enemy, which makes it too easy to defeat them at once with the same sword attacks (I don't really like this). This happens even if they have di

[2017-06-23 03:55] Diarandor opened #40 "Use custom jump instead of built-in jump"
We had already decided not to use a custom jump that allows to control the hero movement during the jump because this would break many puzzles of the game (this includes, mainly, puzzles with conveyor belts, and crossroads involving bad grounds). However, I found an easy solution that would allow to keep the same puzzles without "breaking" them, and so I would like to suggest to add the custom jum

[2017-06-23 04:22] Diarandor opened #41 "Allow to aim/walk with the bow"
Allow to aim and walk with the bow, exactly like in the Minish Cap game.

Note that we could use a custom bow instead of the built-in one (both would be compatible with the script), but it is probably much better to use the built-in one to keep compatibility with the arrow-switch events (built-in arrows can only be created by the built-in bow). The features that we will have:

- [x] Do not shoot u

[2017-06-23 07:00] christopho commented on #40
But a special tile that blocks the jump liberty is too artificial. Blocking a feature to make a puzzle work is bad design :P
Maybe we can put two variants of the feather instead? The first one that jumps straight ahead, and the better one later in the game?

[2017-06-23 07:57] oclero commented on #39
Make sur they are fun to play, and not weird (i.e. the players thinks it is a bug)

[2017-06-23 14:45] Diarandor commented on #40
You are right, special tiles are too artificial... even more than conveyor belts. So your solution is probably better. The first feather (built-in jump) could then be a spring instead, and the second one (custom jump) a lightness feather.

In any case, it is very convenient to add the custom jump to the game, so that players will realize that Solarus does not have so many limitations (we have to g

[2017-06-30 07:34] Diarandor opened #42 "Add a working inventory menu"
Add a working inventory menu. It should display items and allow to select them.
We need it to test Eldran animations and some item scripts modifications.

[2017-07-11 21:40] Diarandor commented on #41
I will add the script when the inventory works.

[2017-07-14 07:09] christopho opened #43 "Modernize scripts"

[2017-07-15 07:08] christopho opened #44 "Add dungeon minimap script"

[2017-08-16 18:25] Diarandor opened #45 "Add a working inventory for testing weapons"
We need a temporary inventory for now, it does not matter if its graphics are not original.
I need it to add custom weapons (bow, feather, shield,...) and test them.

[2017-08-17 18:53] Diarandor commented on #4
At present, I think that only the running and super-spin attack animations are missing for Eldran. The rest are just color variants or shape variants of the weapon. Since the shield is planned to be used like in LA, most shield animations are unnecessary.

[2017-08-31 11:25] christopho commented on #45
Duplicate of #42

[2017-08-31 11:25] #45 closed

[2017-08-31 11:30] Diarandor commented on #45
Oops.

[2017-09-04 15:41] #31 closed

[2017-09-04 15:41] #43 closed

[2017-09-04 15:41] #42 closed

[2017-09-04 15:52] Diarandor commented on #42
Oh yeeeeah! Thanks!
I will start adding some of the new item scripts for the end of this week. :)

[2017-09-04 16:17] christopho opened #46 "Import resources from the sample quest"
Import sprites, tilesets, enemies and sounds from the sample quest when it is cleaned.

[2017-09-06 16:14] christopho opened #47 "Import free enemies from ZSDX"

[2017-09-06 21:05] Diarandor opened #48 "Tileset enhancements mentioned in the first mapping streaming"
A list of tileset enhancements mentioned in the first mapping of CoS streamed by Christopho:

- [ ] The 2 middle and upper green tiles of trees -> join them in 1 tile.
- [ ] Issue with lower part of door sprite not traversable? -> split in 2 tiles if necessary
- Separate shadows from some mountain tiles. -> I won't do this.
- [ ] Add changes mentioned by Chris about grass tiles: some pattern may b

[2017-09-08 06:50] christopho opened #49 "Water ground effect sprite is non free"

[2017-09-09 22:30] #49 closed

[2017-09-09 23:34] Diarandor commented on #48
I deleted this one from the list:
"Add a few more of the missing tiles for town: "bushy walls", "water containers" and "mailbox".
It will be done someday later.

[2017-09-09 23:35] #48 closed

[2017-09-10 12:26] christopho opened #50 "Some soldier sword sprites are non free"
The sword part is non free in these files: sprites/enemies/newlink/*_soldier.png

[2017-09-11 01:38] Diarandor opened #51 "Fix issues of custom jump script"
The custom jump script has been added, but there are things to fix:
- [x] The hero cannot jump if he is already using the sword. Also, if we use the feather in the middle of a jump, the hero movement is stopped (frozen) and the jumping animation is reseted because feather:on_using() is called again (the problem comes from the behavior of the engine when that function is called, and not from the fu

[2017-09-14 12:11] #51 closed

[2017-09-18 06:55] christopho opened #52 "Remove custom teletransporters"
Custom teletransporters don't work with stairs or holes and actually, we don't need them.
We should do the same as:

https://bitbucket.org/zeldaforce/zelda-lafd/commits/77f6a1ece63e7b24674d5de80afdac5b9d25dc2b
https://bitbucket.org/zeldaforce/zelda-lafd/commits/1c2c4dbff57f8e08f1cd1a1f135701bc6c0d1ead

[2017-09-18 07:48] #52 closed

[2017-09-18 16:46] Diarandor commented on #40
The custom jump script was already done.

[2017-09-18 16:46] #40 closed

[2017-09-18 16:51] Diarandor opened #53 "Finish custom shield script"
There are still things to do to finish the code of the first shield:

- [x] Separate Eldran sprite from shield sprite (images and dat files).
- [x] Code collision events for the shield (this will be used for enemies, including projectiles).
- [x] Test if hero is protected against enemies when using the shield. There may be issues.
- [x] Decide if we will use the direction fix (like in Minish Cap)

[2017-09-18 17:37] #41 closed

[2017-09-18 17:45] Diarandor opened #54 "Replace dying cutscene and associated menu"
Add Edran's dying cutscene and associated menu (the menu with options like "save and continue", etc).

The game still uses Link's dying animation and ALTTP menu. We have to replace these things with Eldran's dying animation and an original menu. For now, temporary ones will be enough.

[2017-09-19 15:03] vlag commented on #40
Just for my curiosity, is it possible to jump while running with your custom jump ?

[2017-09-19 15:58] Diarandor commented on #40
Good question. With custom boots yes, and I tested it. With the built-in boots I have not tested this, but it should be doable, at least by adding some code.

[2017-09-21 18:11] Diarandor opened #55 "Code pushing features for custom shield and enemies"
I propose these functions and parameters. This list may be modified in the future.

enemy:get/set_pushed_back_by_shield()
enemy:get/set_pushed_back_by_shield_properties(table)
enemy:get/set_push_hero_on_shield()
enemy:get/set_push_hero_on_shield_properties(table)

enemy:is_being_pushed_by_shield()
hero:is_being_pushed_on_shield()
enemy/hero:push(table)

Variables in tables of properties:
-distance

[2017-09-25 20:01] Diarandor opened #56 "Modify tree tiles pixel-art to make lateral parts traversable"
Modify tree tiles pixel-art to make lateral parts traversable and make that look nice.

See Christophos explanations in the second streaming, around min 57.

[2017-09-28 19:40] #56 closed

[2017-10-03 17:15] Diarandor opened #57 "Improve mapping of the 2nd streaming made by Christopho"
Things to improve:
- [x] Replace wrong mountain borders without shadows with correct ones.
- [x] Improve the mapping.
- [x] Break the grid-effect whenever it is possible.

[2017-10-04 01:04] #57 closed

[2017-10-14 14:35] Diarandor commented on #4
Running animations are now done (with and without sword). The unchecked animations above are not necessary since we will use the custom shield.
1. The superspin attack animation is still missing, but I will open a new issue for that one. We may use a different animated attack instead. And in case we use the same one, it can be done with a loop on the normal "spin" animation.
2. I will open another

[2017-10-14 14:35] #4 closed

[2017-10-14 14:40] Diarandor opened #58 "Add color variants for hero tunics"
Add color variants for hero tunics:
-The second tunic will be blue. The color was already chosen by @oclero.
-The third tunic could be purple. (Oclero chose a golden/orange color, but I don't like it because it is too similar to the color of the flesh.)

We might change our minds later if we don't like some of the choices of colors.

[2017-10-14 14:44] Diarandor opened #59 "Add superspin attack image and script"
Add superspin attack (or a different alternative attack). We need the image and script.
(To code the superspin attack we could use a loop on the normal spin attack animation.)

If we find some cool idea for a different "super" attack, we could use a different animation/image.

[2017-10-30 02:45] Diarandor commented on #47
I'd like to replace all of them with others made by me (enemies and bosses, pixel-art and code). It's better to avoid missing art of different authors if possible, to avoid the clash of different art styles (and to keep me happy too ^^). This game deserves very high quality enemies, and I'm gonna work on them.

[2017-11-14 20:35] Diarandor opened #60 "Improve rain manager script"
Things to do:

- [x] Make script compatible with scrolling transitions between maps.

- [x] Optimize and clean code to make it faster.

- [x] Do not use movements to avoid engine bug (and make it even faster):
In my computer, the rain script makes the game to run much slower (with lags) after a few minues (2 or 3 at most). It happens with the engine directly and from the editor too.
@christopho an

[2017-11-14 20:37] Diarandor commented on #33
@christopho: After your last mapping video streaming, I think we can already close this issue.
Don't you agree?

[2017-11-14 22:51] Diarandor commented on #60
I confirm, unless I am wrong, that this seems to be an engine bug caused by built-in movements applied to Lua lists. Since my number of lists is constant and their coordinates are replaced by new ones each time they are overriden, that means that the lists or their coordinates are not the problem. So my guess is that:
- either the movements are not being destroyed and they accumulate,
- or some "b

[2017-11-14 23:01] #33 closed

[2017-11-15 14:18] #60 closed

[2017-11-15 14:19] Diarandor commented on #60
The rain manager should be now 100% done. All fixed. All suggestions done. ^^

[2017-11-15 15:02] Diarandor opened #61 "Add snow script"
With two modes of snow: "snow" (or "snowfall") and "snowstorm".
EDIT: the script has been added, but there are still things to do:

- [x] Make snowflakes semitransparent (either the sprite image, or the snow surface). The transparency should vary randomly when they are falling, and when they fall to the ground they should disappear becoming fully transparent.

[2017-11-15 15:14] Diarandor opened #62 "Add fog script"
With two modes of fog: "fog" and "densefog".

[2017-11-15 15:17] Diarandor opened #63 "Add hail script"
With two modes: "hail" and "hailstorm".

[2017-11-15 15:18] Diarandor commented on #62
This one could be used in some dungeon of CoS.

[2017-11-16 22:18] #61 closed

[2017-11-16 23:22] Diarandor commented on #6
I think this issue can be closed, since the thread is dead and unimportant. Do you agree @christopho?

[2017-11-16 23:28] Diarandor opened #64 "Replace inventory/hud item sprites with free ones"
I think this issue is prioritary, since it is really bad to show in our videos the art from ALTTP (mainly in the hud and inventory).

[2017-11-18 20:10] Diarandor commented on #63
Done!

[2017-11-18 20:10] #63 closed

[2017-11-19 18:44] christopho opened #65 "Allow to exit with the joypad"

[2017-11-21 23:22] Diarandor commented on #25
I'm closing this issue since it is too general and not necessary anymore.
For particular things, new issues can be opened.

[2017-11-21 23:22] #25 closed

[2017-11-21 23:28] Diarandor commented on #1
I am closing this issue since it is too general. Many of these things are already done or will be done "soon".
Better to open smaller and more specific issues.

[2017-11-21 23:28] #1 closed

[2017-11-22 21:53] Diarandor opened #66 "Add original chicken sprites"
Any Zelda-like game must have evil chickens. This is mandatory, and the main priority of the game! XD

[2017-11-23 16:38] Diarandor commented on #66
We'll need a new script for these, and a "tweet" 16-bit sound.

[2017-11-24 02:50] Diarandor commented on #66
The sprite is done and in the repo. The sound and scripts are missing.

[2017-11-25 23:14] Diarandor commented on #58
This was already done this week.

[2017-11-25 23:14] #58 closed

[2017-11-29 06:45] Diarandor opened #67 "Fix: some pterobat sprites should not hurt the hero"
Wings and shadow are invincible sprites for the pterobat. These should not be able of hurting the hero.
(I prefer not to use custom entities for the sprites this time. That workaround is very annoying.)

I will fix this when the engine adds the function "enemy:set_sprite_can_attack(sprite, [can_attack])". (Issue https://github.com/solarus-games/solarus/issues/872)

[2017-11-29 06:48] Diarandor commented on #66
I changed my mind. No tweet sound for now. The script will be done someday soon.

[2017-11-29 06:48] #66 closed

[2017-12-03 04:16] Diarandor opened #68 "Update scripts for compatibility with several games running simultaneously"
Update scripts for compatibility with several games running simultaneously.

This will be needed someday when the engine allows to run several games at once. Although this project may not use that feature, it is better to make scripts compatible, for portability reasons.

Scripts that may need some changes:
- [ ] Weather scripts.
- [ ] Hud, menus and dialog scripts (maybe). Maybe other scripts too

[2017-12-03 04:18] Diarandor commented on #68
For the weather scripts, we need to move the initialization of parameters inside the event on_created, and attach all important variables to the game object, somehow.

[2017-12-03 06:33] Diarandor opened #69 "Add new dungeon bosses"
Add new dungeon bosses, for all dungeons.
This list may be updated many times with new ideas:

- [ ] Nachzehrer: vampire boss.

[2017-12-03 07:50] Diarandor opened #70 "Add functions for sword collisions while jumping"
Add functions for the use of the sword while jumping, and detect collisions only when necessary. (Note that the sword can already be used while jumping, with the custom jump script.)

We could do something like in the Oracle games (dungeon 4 in OOA): some types of fire-bats can fly at different heights. At the hightest height they are invincible and cannot hurt the hero, at a middle height they ca

[2018-01-21 10:23] Diarandor commented on #55
This was done in the last commit, yesterday.

[2018-01-21 10:23] #55 closed

[2018-01-21 10:25] #53 closed

[2018-01-21 10:31] Diarandor commented on #2
This issue is very old, and some decissions have been taken a lot of time ago, like these names:
Hero: Link -> Eldran
Princess: Zelda -> Robyne
Elder (wise man and wizard): Sahasrahla -> Kaleido

The most important name that remains to choose is the name of the bad guy.

[2018-01-21 22:40] Diarandor commented on #67
This was already fixed with the built-in event "enemy_meta:on_attacking_hero()" and the **custom** functions "enemy_meta:get/set_sprite_damage(sprite, damage)".

[2018-01-21 22:40] #67 closed

[2018-01-26 21:07] Diarandor opened #71 "Shield sudden frame that should not appear"
There is a frame of the shield animation that appears suddenly on the side of Eldran while using the shield, sometimes. (Use the shield very fast many times to reproduce the script bug.)

[2018-01-28 00:37] Diarandor opened #72 "Create indoors house tileset"
- [ ] Ground tiles (several variants)
- [ ] Walls
- [ ] Carpets
- [ ] Decoration
- [ ] Cats!!! :3
- [ ] ???

[2018-01-28 00:42] Diarandor opened #73 "Code cluckos"
Code cluckos:
- [ ] Random movement and jumps.
- [ ] Push with shield interaction.
- [ ] Invincible, except for fire.
- [ ] Flying cluckos attack!!!!
- [ ] Draw angry cluckos (red color) for attack.
- [ ] Allow to carry and throw them.
- [ ] ???

[2018-01-29 13:27] Diarandor opened #74 "Add more goblin weapons"
Goblin weapons to add:
- [ ] Add club and axe animated attacks.
- [ ] Allow to throw axes, sometimes.
- [ ] Add slingshot.
- [ ] Add staff with magic spells (shaman goblin).

[2018-02-10 17:18] Diarandor commented on #72
@christopho Do we need doors in the tileset? Or should we better add them as entities?

[2018-02-12 16:47] Diarandor opened #75 "House mapping for first streaming"
Things to do, for @christopho, during his streaming tonight (first maps using the house tileset):

- [ ] Eldran's "house". It will be an INN where he is staying for a while (he is a traveler).
Remark: during the first cutscene, Kaleido (the elder and wizard of the village) will enter the INN to wake up Eldran, and will argue with him because he has not payed the rent of the INN of the previous nig

[2018-03-01 14:34] christopho opened #76 "Update license info"

[2018-03-03 17:36] Diarandor opened #77 "Bug: jump over straight stairs"
Bug: if you try to jump over straight stairs, Eldran gets stuck on the lower layer.

@christopho: Maybe we should use a replacement script to use custom stairs that fix this problem?

[2018-03-08 08:34] Diarandor commented on #77
We can create a temporary wall overlapping the straight stairs and disable the stairs during the jump, so that the hero cannot pass. We should do this for all types of stairs.

[2018-03-08 23:17] Diarandor opened #78 "Redraw Robyne walking animation"
Robyne animated sprite for walking in direction "up" has the feet movement in the wrong way. Redraw it.

[2018-03-16 12:00] #71 closed

[2018-03-16 12:09] Diarandor commented on #3
I talked a few days ago with @eduardoduenas and he told me that he will gladly create new musics and sounds when we need them. (He thought that CoS was still dead.) He also told me that he has improved his songs of CoS, so we should update them someday.

[2018-03-18 19:51] Diarandor opened #79 "Disable custom shield and custom jump on jumpers"
This will fix an issue of the shield displayed with wrong height on jumpers.

[2018-03-18 20:42] #79 closed

[2018-03-19 17:18] Diarandor opened #80 "Use custom properties for the custom shield"
Improve custom shield script with custom properties. Clean code.

[2018-03-19 18:05] Diarandor commented on #80
No need for this after all, and it's probably a bad idea.

[2018-03-19 18:05] #80 closed

[2018-03-19 19:28] Diarandor opened #81 "Redraw wooden shield for better collisions"
Draw almost-transparent pixels in some of the the transparent parts, for a better pixel-precise collision with enemies. There are problems sometimes for the up direction due to a missing pixel collision.

EDIT: in the end, we will use a shield_collision_mask sprite, which will be different and independent from the shield sprite, and will be set as not visible.

[2018-03-20 18:06] Diarandor commented on #81
Also, add a function: "enemy:add/set_shield_pushing_condition(test_function)" to add more conditions necessary to push an enemy (like a "facing" condition of bounding boxes, etc)

[2018-03-21 22:46] #81 closed

[2018-03-25 14:19] Diarandor opened #82 "Rename item savegame variables"
They should have the form: "possession" .. item_name
For instance: "possession_shield", "possession_feather", etc.

[2018-03-25 15:49] Diarandor opened #83 "Create custom grounds script"
Some advanced features that should be possible to do with it:
-[ ] Grounds that break.
-[ ] Grounds that modify the hero walking/stopped animations (for swimming in custom lava, etc).
-[ ] Custom grass grounds (that can be cut or not) and draw custom grass over the hero or enemies.
-[ ] Custom sand/snow grounds which draw footsteps for a while.
-[ ] Custom property for not saving position (non-sol

[2018-03-26 05:40] Diarandor commented on #74
Only shaman goblins are missing!
We could have different types, or just 1 type with random attacks:
- [ ] Fireball
- [ ] Falling rock
- [ ] Lightning

[2018-04-16 22:07] Diarandor opened #84 "Add photography feature"
New feature for completionist gamers:
- [ ] Add a special item that allows to take a "photo" from each type of enemy (only once). It can be sold in some shop, or found after completing some sidequest or trading quest. The item can be a "camera", or even better, a "soul catcher" that throws some kind of "projectile entity".
- [ ] Add an "album" where you can see an image, name, and special info fro

[2018-04-18 17:21] Diarandor opened #85 "Map dungeon 1"
Most part of the mapping will be done by @zeldoretro_twitter, as discussed on gitter.
We will use a **Forest Theme**, as in the original game: green walls.

Things TODO (this list will be updated from time to time):
- [x] Map plain walls and grounds, just the basic structure of the dungeon.
- [x] Add enemies and test them, and the dungeon difficulty. Change the number and location if necessary. Th

[2018-04-18 18:48] Diarandor opened #86 "Code lamp item"
We will allow to use it to light dark areas while walking.
We'll need new animations for Eldran, and shaders will be used too.

[2018-04-18 20:50] Diarandor opened #87 "Code side-map scripts"
We need to code gravity and custom jump for side-maps.
We could use this to add new caves, or maps in dungeons.

A new tileset will be needed (open new issue for this when this one is closed!).

[2018-04-21 16:24] Diarandor opened #88 "Add new sword attacks"
New sword attacks should be adquired as scrolls. Some may be hidden and not necessary to finish the game. Some will be similar to sword attacks in Teranigma, and they may be stronger than the normal sword attack.

This list (or the commands for each attack) may be modified later:
- [ ] Fast attack: sword, sword, sword.
- [ ] Dash forward attack: arrow, arrow, sword.
- [ ] Dash below attack: jump,

[2018-04-22 05:38] christopho opened #89 "Add donators to credits"

[2018-05-06 01:40] alexgleason opened #91 "Some textures are too busy"
First off I just want to say I'm super excited for this game, and thank you so much for working on it! It looks really amazing so far.

In [screenshot 2.-18-02-04](http://www.solarus-games.org/wp-content/uploads/2018/02/2.-18-02-04.png) I think the gravel path looks a bit too busy. I think it would be better to simulate gravel by removing a lot of the lines and having only accents. Alternatively,

[2018-05-06 02:14] alexgleason opened #92 "Allow the protagonist to select their gender"
Rumors say that "Link" was always meant to be an avatar of the player; a "link" between you and the game. He never speaks because, if he did, he might say something that you would not. It is no surprise, then, that Link is a male, since the majority of video gamers are also male. But maybe that trend would be broken if girls had more games they could relate to.

Nintendo has talked about making Li

[2018-05-06 11:12] Diarandor commented on #92
Dialogs would need to be changed too.

[2018-05-06 15:15] TeamLJS commented on #92
Switching skin shouldn't be hard as I already done that in my project, sprite work would be, yet, if this is feasible, you should take example at how it is done in Anciant Stone Tablet

[2018-05-06 15:29] Diarandor commented on #92
There are 2 options:
1) Reverse the role of hero Eldran and princess Robyne. She would become the hero and he the prince.
2) Create a new female hero, and for consistency, a new prince NPC too.

Option 2 is a 3-months work. I prefer option 2. But I am not sure if we will do it in the end.
Which option do you like more?

[2018-05-06 18:07] Diarandor commented on #91
I will recolor those tiles, but I will keep the shapes.
I will add more tiles like the ones you say too (we can replace them later).

[2018-05-06 20:22] alexgleason commented on #92
First I'd like to show an example of a game that handled this well in my opinion: Ittle Dew, an ARPG inspired by The Legend of Zelda.

![tm_wiiuds_ittledew](https://user-images.githubusercontent.com/3639540/39677383-0c58c340-5148-11e8-84ac-420db0f72559.jpg)
![ittle-dew-8](https://user-images.githubusercontent.com/3639540/39677384-0e4b2bf2-5148-11e8-910f-cfcc782195d7.jpg)
![1024full-ittle-dew-scree

[2018-05-06 23:01] Diarandor commented on #92
-I don't like the idea of having an asexual hero or even cross-dressing Eldran. Poor thing... :cry: Forget about that.
-I've decided that I won't make option 2. That's a ton of work, and we are not receiving enough support/feedback for so much work.

However, option 1 is still doable, since Robyne is planned to be a playable character (someday before year 2053, so be patient... XD). I don't know y

[2018-05-06 23:04] alexgleason commented on #92
Okay, I will be happy with whatever you come up with. :smile: The beauty of a libre game is that others can always add more later.

[2018-05-07 13:58] ZeldoRetro opened #94 "Fire dungeon mapping: Missing tiles"
For the mapping of the 6th dungeon (the fire dungeon, Inferno's Maze), I need some additional tiles to map it correctly. So these tiles are the following:

- [ ] Stone door borders (wooden ones are not appropriate for a fire environment)

- [ ] Stairs that goes in the ground

- [ ] Lava tiles and other tiles for the borders if possible

- [ ] Holes tiles and other tiles for the borders if possible

[2018-05-07 19:35] brlmnd commented on #94
your English is very good

[2018-05-16 15:06] christopho opened #95 "Add free resource pack as submodule"

[2018-05-18 22:10] Diarandor commented on #3
A list (to be updated) of new **musics** for Eduardo Dueñas to do:

Dungeons:
- [ ] Forest dungeon
- [ ] Castle dungeon
- [ ] Fire/lava dungeon
- [ ] Ice dungeon
- [ ] Mysterious Theme (?)
- [ ] ??? to decide
- [ ] ??? to decide
- [ ] ??? to decide
- [ ] Secret dungeon (???, to decide)

Other themes:
- [ ] Cave theme
- [ ] Dark overworld theme (maybe a variant of the light overworld theme?)
- [ ]

[2018-05-28 01:43] teneresa opened #96 "Logo design proposal"
Dear Sirs,
hi, my name is Valeria. I'm a graphic designer and I'd like to collaborate on your open source project and propose free logo design for your game Children of Solarus. If it's something you're interested in, please, let me know!
Best,
Valeria

[2018-05-28 07:16] oclero commented on #96
Hi, I already made a logo and its pixel-art counterpart:

 - https://github.com/solarus-games/children-of-solarus/blob/dev/art_src/logo/ChildrenOfSolarus-logo-highres.png

 - https://github.com/solarus-games/children-of-solarus/blob/dev/art_src/title/sprites/title_logo.png

You can find sources for the logo in this repository, if you want to improve it.

You can still propose another logo.

[2018-05-28 11:58] teneresa commented on #96
Hi, yes, I would love to improve the logo you have! Will you use it on the website only or somewhere else?
Best,
Valeria

[2018-05-28 12:04] oclero commented on #96
Cool, your contributions are welcome !
In the project's repository, you can find an EPS file the logo (vectorized) and a PSD file for its pixel-art version.

https://github.com/solarus-games/children-of-solarus/tree/dev/art_src

[2018-05-28 12:07] oclero commented on #96
Chatting about the project is done here: https://gitter.im/solarus-games/children-of-solarus

Github issues are more adapted to bugfixes and stuff like that. Come on our Gitter channel. @Diarandor will be glad to have one more person to help on the project.

[2018-05-28 15:21] teneresa commented on #96
Thanks for the invitation! I will join the chat shortly.

[2018-05-28 15:29] Diarandor commented on #96
It seems that without your github email I can't add you directly to the channel of Children of Solarus. Or maybe you need a gitter account.

[2018-05-29 16:54] teneresa commented on #96
Dear sirs,
As per our conversation on your Gitter channel, I've prepared some new versions of your logo.
Please, have a look!
As it was agreed with Olivier, I used his main concept. I think that it's really nice!
I made a symbol which you can use in the future as an icon or in some other way. And the font I used for the logo has the license that allows its commercial use.
All the versions are 100%

[2018-05-29 16:57] alexgleason commented on #96
omg. I'm not a person with any decision-making power on this project, but I think this is absolutely fantastic!

The b/w version and no. 2 are my favorites.

[2018-05-29 17:02] oclero commented on #96
The second one is just great ! Perfect for a Nintendo-like ARPG game !

[2018-05-29 18:04] teneresa commented on #96
Thanks for your kind words! If you accept it, I'll prepare all the required files for the 2nd variation and create a pull-request.

[2018-05-30 02:18] teneresa commented on #96
Here is a pixel version of the 2nd variation. Please let me know which formats of the files do you need?
![pixel logo](https://user-images.githubusercontent.com/39339824/40694798-759ba30a-6394-11e8-851b-cc951bf234fb.jpg)

[2018-05-30 07:28] oclero commented on #96
Nice ! Could you limit the number of colors (posterize, correcting a bit by hand, or other technique), to get a true old-school feeling ?

[2018-05-31 04:21] teneresa commented on #96
Hi Olivier, here is a new version of pixel logo with two color options.
![pixel logo v2](https://user-images.githubusercontent.com/39339824/40761196-df2c9540-6470-11e8-9f71-6b1cbc36d19b.jpg)